#nb-mall-common .phone-comment .figure-info {
    padding: 40px 25px 20px !important;
    text-align: center !important;
}
header.store2016 .main-header .main-nav> ul> li {padding: 18px 2% 17px 2%;}
.selectPackage li .redcolor { font-size: 14px;  }
.fixed-btn-a{height:40px !important;line-height: 40px !important;}
.sub-nav .btn-buy:visited{text-decoration: none;color:#fff;}
.sub-nav .btn-buy:hover{text-decoration: none;color:#fff;background: #D41414 !important;}
.sub-nav .btn-buy{background: #e8380d !important;}
.cart{padding:18px 2% !important;}
header.store2016 .main-header .main-nav> ul> li.cart:hover{background: #ee4834 !important;}

.phone_net_zj>p#show_price{margin-bottom: 20px !important;}
.phone_net_zj>p#show_price>span#total{font-size: 25px !important;}


.nb-ml-side ul li .nb-mlside-menu>a{float: none;}

.coupon-item-con .coupon-item-l{height: 117px !important;}